<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #023047;">
  <div class="container">  
  <a class="navbar-brand" href="/">HasBcode</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
       
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
       
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/dosen">Dosen</a>
                <a class="dropdown-item" href="/karyawan">Karyawan</a>
                <a class="dropdown-item" href="/mahasiswa">Mahasiswa</a> 
                <a class="dropdown-item" href="/contact">Alumni</a> 
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Master
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/matakuliah">Mata Kuliah</a>
              <a class="dropdown-item" href="/jabatan">Jabatan</a>
          </div>
      </li>
      
    </ul>
    <!-- Search -->
    <form class="form-inline ml-auto">
        <div class="input-group">
            <input type="text" class="form-control input-keyword" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-warning search-button" type="button">Search</button>
            </div>
        </div>
    </form>
  </div>
</div>
</nav>


