<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/Portfolio.png" alt="Foto Hasbi" class="img-thumbnail rounded-circle" width="150">
            <h1 class="display-4">Hasbi Radifan L</h1>
            <p class="lead">Software Engineer | Speaker </p>
        </div>
    </div>
</div>