<div class="container mt-3">
    <div class="row">
        <div class="col-md6">
            <h2>Form Tambah Data</h2>
            <% if (typeof errors != 'undefined') { %>
             <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
                </ul>
             </div>
            <% } %>

             <!-- form post data contact -->
            <form method="POST" action="/contact">
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" required>
                </div>
                <div class="mb-3">
                  <label for="lulusan" class="form-label">Lulusan</label>
                  <input type="text" class="form-control" id="lulusan" name="lulusan" required>
                </div>
                <div class="mb-3">
                  <label for="nohp" class="form-label">No Handphone</label>
                  <input type="text" class="form-control" id="nohp" name="nohp" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                  <label for="alamat" class="form-label">Alamat</label>
                  <input type="text" class="form-control" id="alamat" name="alamat" required>
                </div>
                <button type="submit" class="btn btn-outline-primary ml-auto"><i class="bi bi-save"></i> Simpan</button>
                <a href="/contact" class="btn btn-outline-warning ml-auto">&laquo; Kembali</a>
              </form>
        </div>
    </div>
</div>