<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Form Tambah Data</h2>
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <!-- Form post data dosen -->
            <form method="POST" action="/dosen">
                <div class="mb-3">
                    <label for="nip" class="form-label">NIP</label>
                    <input type="text" class="form-control" id="nip" name="nip" maxlength="7" required>
                </div>
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="nama" name="nama" pattern="[A-Za-z\s]+" title="Nama hanya boleh berisi huruf dan spasi" required>

                </div>
                <div class="mb-3">
                    <label for="matkul" class="form-label">Mata Kuliah</label>
                    <select class="form-control" id="matkul" name="matkul" required>
                        <% matkulList.forEach(matkul => { %>
                            <option value="<%= matkul._id %>"><%= matkul.matkul %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-outline-primary ml-auto"><i class="bi bi-save"></i> Simpan</button>
                <a href="/dosen" class="btn btn-outline-warning ml-auto">&laquo; Kembali</a>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('nip').addEventListener('input', function (e) {
        if (this.value.length > 7) {
            this.value = this.value.slice(0, 7);
        }
    });
</script>
<script>
    document.getElementById('nama').addEventListener('input', function (e) {
        this.value = this.value.replace(/[^A-Za-z\s]/g, '');
    });
</script>

