<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Data Mahasiswa</h2>
            <a href="/mahasiswa/add" class="btn btn-outline-primary ml-auto mb-2"><i class="bi bi-plus-circle"></i> Tambah Contact</a>
            <table id="example1" class="table table-bordered table-striped">
                <thead style="text-align: center; background-color: #023047;; color: white;  ">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">NIM</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Jurusan</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>02123002</td>
                    <td>Yudi Ramdani</td>
                    <td>Pengembangan Website</td>
                    <td>yudi@gmail.com</td> 
                    <td><a href="#" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>